<h2>Recent Reviews:</h2> 
<div id = myUL>
{{#each data}}
<article>
    
     <div id = "hello">
	<h2 id =  {{this.slug}} class="title">{{this.title}}  </h2>
    </div>
     <i class = "writer"> By: {{{this.author}}}</i>
    
    <div class = "rating"> 
        <h3>rating = {{{this.rating}}}</h3>
    </div>
	<div class="content">
	    {{{this.review}}} 
	</div>
	<a href="/slug/{{this.slug}}">Read more...</a>
</article>

{{else}}

<article>
    <h1>There are no reviews yet. :(</h1>
    <a href="/create">Write your first review!</a>
</article>
{{/each}}

</div>